@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.header-container a {
    text-decoration: none;
    color: #000;

}

.hero-container {
    display: flex;
    padding: 40px 0;
}

.hero-left {
    width: 50%;
}

.hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero-left p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-left button {
    color: white;
    background-color: #FF6464;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.hero-left button:hover {
    background-color: #d33b3b;
    transition: 0.5s;
}

.posts-container {
    background-color: #EDF7FA;
    padding: 30px 55px;
}

.post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-top a {
    text-decoration: none;
    color: skyblue;
}

.post-bottom {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.post-bottom .post-card {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.post-card2 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 35px;
}